<html>

<head>
  <link rel="stylesheet" href="frontend/Views/index.css">
  <title>Меню покупки товаров</title>
</head>

<body>
  <div class="page-main-container">
    <div class="balance-pane">100500</div>
    <div class="products-pane">

      <!--Шапка товаров с заголовком и кнпокой открытия инструкции-->
      <div class="clearfix" style="display: block;">
        <span style="float: left;">header</span> <span style="float: right;">tutor</span>
      </div>

      <div>
        <div class="products-container clearfix">
          <div class="product-card">1</div>
          <div class="product-card">2</div>
          <div class="product-card">3</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>