<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="frontend/Views/index.css">
  <title>Меню покупки товаров</title>
</head>

<body>
  <!--Панель с текущим балансом-->
  <div class="page-main-container">
    <div class="balance-pane">
      <div><span class="balance-header-font">Ваш баланс:</span></div>
      <div class="clearfix" style="margin-top: 25px;">
        <img class="balance-coin-image" src="frontend/Assets/images/coin.png">
        <span class="balance-font">15</span>
        <img class="balance-currency-glyph" src="frontend/Assets/images/Tugriki.svg">
      </div>
    </div>
    <div class="products-pane">

      <!--Шапка товаров с заголовком и кнпокой открытия инструкции-->
      <div style="display: block;">
        <span class="products-header-font" style="float: left;">Варианты обмена на скидку</span>
        <span class="info-link-font" style="float: right;">Инструкция</span>
      </div>

      <!--Сами товары-->
      <div class="products-container clearfix">
        <div class="product-card">
          <div>
            <img class="product-price-coin" src="frontend/Assets/images/coin.png">
            <span class="product-price-font">15</span>
            <img class="product-price-currency-glyph" src="frontend/Assets/images/Tugriki.svg">
          </div>
          <img class="product-icon" src="frontend/Assets/images/call_x2.svg">
          <div>
            <div class="discount">69%</div>
            <span class="product-name-font">на звонки ST (x2)</span>
          </div>
          <button class="purchase-button">Использовать скидку</button>
        </div>
        <div class="product-card">2</div>
        <div class="product-card">3</div>
      </div>
    </div>
  </div>
</body>

</html>