body {
    background-color: #F0F0F0;
}

/*TODO: Вынести в общий файл.*/
/*TODO: Добавить варианты шрифта разного веса.*/
@font-face {
    font-family: Museo Sans Cyrl;
    src: url("../Assets/fonts/museosanscyrl_100.otf") format("opentype");
}

/*Изображения*/

.balance-coin-image {
    width: 40px;
    height: 40px;
    transform: rotate(-10.32deg);
}

.balance-currency-glyph {
    width: 46px;
    height: 38px;
}

.product-price-coin {
    width: 14px;
    height: 14px;
}

.product-price-currency-glyph {
    width: 15px;
    height: 13px;
}

.product-icon {
    width: 39px;
    height: 39px;
}

/*Шрифты*/

.balance-header-font {
    float: left;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-size: 22px;
    line-height: 13px;
    color: #242424;
}

.balance-font {
    margin-left: 7px;
    margin-right: 9px;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 43px;
    color: #242424;
}

.products-header-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 13px;
    color: #242424;
}

.info-link-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #242424;
    cursor: pointer;
}

.product-price-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    color: #242424;
}

.product-name-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
}

.tutorial-window-header-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #242424;
}

.tutorial-window-content-font {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;

    color: #242424;
}

/*Основные контейнеры  для разметки*/
.page-main-container {
    padding: 40px;
    align-items: center;
    text-align: center;
}

.page-main-container>* {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.balance-pane {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 38px;
    padding-right: 38px;
    background: #e5e5e5;
    width: 179px;
    height: 210px;
}

.products-pane {
    padding-top: 16px;
    padding-left: 29px;
    padding-right: 29px;
    background: #e5e5e5;
    min-height: 226px;
}

.products-container {
    display: block;
}

.products-container>* {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: top;
}

/*Компоненты*/
.product-card {
    display: inline-block;
    height: 170px;
    width: 190px;
    transition: 0.3s;
}

.product-card:hover {
    background: #d8d8d8;
}

.product-card>* {
    margin-top: 10px;
}

.discount {
    display: inline-block;
    width: 37px;
    height: 18px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    line-height: 17px;
    color: #FFFFFF;
    transform: rotate(-12.65deg);
    background: #FF1A1A;
    border-radius: 4px;
}

.purchase-button {
    width: 135px;
    height: 42px;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
    background: #00CD52;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s;
}

.purchase-button:hover {
    background: #00a844;
}


.modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-window:target {
    display: block;
}

.modal-window>* {
    padding: 30px 25px 30px 25px;
    margin: 25%;
    background-color: #edeef0;
}

.cross-close-button {
    float: right;
    cursor: pointer;
}

/*
Родительский элемент не считает свою высоту, если всего его дочерние элементы используют float. Ниже фикс проблемы. Применяется, например, к products-container.
https://stackoverflow.com/questions/12540436/height-of-parent-div-is-zero-even-if-it-has-child-with-finite-heights 
*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}