.page-main-container {
    padding: 40px;
    align-items: center;
    text-align: center;
}

.page-main-container>* {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.balance-pane {
    background: #6A6A6A;
    width: 255px;
    height: 242px;
}

.products-pane {
    background: #6A6A6A;
    padding: 10px;
    min-height: 222px;
}

.products-container {
    display: block;
}

.products-container>* {
    margin: 10px;
}

.product-card {
    display: inline-block;
    background: wheat;
    height: 180px;
    width: 190px;
}


/*
Родительский элемент не считает свою высоту, если всего его дочерние элементы используют float. Ниже фикс проблемы. Применяется, например, к products-container.
https://stackoverflow.com/questions/12540436/height-of-parent-div-is-zero-even-if-it-has-child-with-finite-heights 
*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}